.svn
*.log
*.obj
*.tlog
*.pdb
*.idb
*.suo
*.sdf
*.o
*.layout
*.depend
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
xcuserdata
Debug
Library_Poco/obj
Library_Poco/src/Foundation/src/pocomsg.*
main/Release/main.res
*.opensdf
.vs
*.vcxproj.user
*.iobj
*.ipdb
.vscode/ipch
__pycache__
*.recipe
*.FileListAbsolute.txt
Release/MMDAgent-EX.exe
Release/MMDAgent-EX
build

Library_glew
Library_JPEG
Library_librdkafka
Library_libsndfile
Library_Poco
Library_PortAudio
Library_rabbitmq
Library_RE2
Library_zlib
Release/DLLs
Release/DLLs64

MMDAgent-EX-deps_win.zip
