build-essential
libc6-dev
libasound2-dev
mesa-common-dev
libglu1-mesa-dev
libxrandr-dev
libxmu-dev
libxi-dev
libgl-dev
cmake
libpoco-dev
libglew-dev
libsndfile1-dev
libsamplerate0-dev
zlib1g-dev
libminizip-dev
libpng-dev
libjpeg8-dev
librdkafka-dev
libre2-dev
portaudio19-dev
sox
libsox-fmt-all
pulseaudio
pavucontrol
librabbitmq-dev
